* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    background-image: linear-gradient(115deg,#087e8b, #bfd7ea, #e2adf2);
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', monospace;
}

#header {
    /* width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    font-style: bold;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

p{
    font-size: 15px;
}

h1,p {
    margin-top:0;
    margin-bottom: 0.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#survey-form {
    background-color: #4f6d7a;
    padding: 2.5rem 0.625rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

#div1, #div2, #div3, #div4, #div5 {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
}

#name, #email, #number, #dropdown{
    display: block;
    align-self:flex-end;
    width: 90%;
    height: 1rem;
    padding: 0.25rem 0.5rem;
    color: #495057;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#fav-directors {
    width: 100%;
}
